{% extends "admin/base.html" %}
{% load static %}

{% block branding %}
<h1 id="site-name"><a href="{% url 'admin:index' %}">QRP Control System - Panel Administracyjny</a></h1>
{% endblock %}

{% block extrahead %}
    {{ block.super }}
    <link rel="icon" type="image/svg+xml" href="{% static 'qrp_app/favicon.svg' %}">
    <link rel="icon" type="image/svg+xml" sizes="any" href="{% static 'qrp_app/favicon.svg' %}">
    <link rel="shortcut icon" type="image/svg+xml" href="{% static 'qrp_app/favicon.svg' %}">
    <link rel="apple-touch-icon" href="{% static 'qrp_app/favicon.svg' %}">
{% endblock %}
